## Data Collection

In [1]:
# importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option(('display.max_columns'), (None))

In [2]:
#listings data obtained from http://insideairbnb.com/get-the-data
listings = "./data/source/listings.csv" #Listings data
listings_detailed = "./data/source/listings_detail.csv.gz" #Summary information and metrics for listings in New York City

df = pd.read_csv(listings, low_memory=False)
df_detailed = pd.read_csv(listings_detailed, low_memory=False)
df.shape, df_detailed.shape

((41533, 18), (41533, 75))

In [3]:
# Inspecting the data
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,21,3,2022-08-10,0.03,1,267,1,NaN
1,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80380,-73.96751,Private room,75,2,118,2017-07-21,0.73,1,0,0,NaN
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,2019-12-02,0.30,2,322,0,NaN
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,68,2,559,2022-11-20,3.38,1,79,50,NaN
4,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,175,30,49,2022-06-21,0.31,3,365,1,NaN

In [3]:
df_detailed.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20221204162430,2022-12-05,city scrape,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/f0813a11-40b2...,2845,https://www.airbnb.com/users/show/2845,Jennifer,2008-09-09,"New York, NY",A New Yorker since (Phone number hidden by Air...,within a day,72%,22%,f,https://a0.muscache.com/im/pictures/user/50fc5...,https://a0.muscache.com/im/pictures/user/50fc5...,Midtown,6.0,9.0,"['email', 'phone', 'work_email']",t,t,"New York, United States",Midtown,Manhattan,40.75356,-73.98559,Entire rental unit,Entire home/apt,1,NaN,1 bath,NaN,1.0,"[""Carbon monoxide alarm"", ""Stove"", ""Bathtub"", ...",$175.00,30,1125,30.0,30.0,1125.0,1125.0,30.0,1125.0,NaN,t,30,60,90,365,2022-12-05,49,1,0,2009-11-21,2022-06-21,4.68,4.73,4.63,4.77,4.80,4.81,4.40,NaN,f,3,3,0,0,0.31
1,5203,https://www.airbnb.com/rooms/5203,20221204162430,2022-12-05,previous scrape,Cozy Clean Guest Room - Family Apt,"Our best guests are seeking a safe, clean, spa...",Our neighborhood is full of restaurants and ca...,https://a0.muscache.com/pictures/103776/b37157...,7490,https://www.airbnb.com/users/show/7490,MaryEllen,2009-02-05,"New York, NY",Welcome to family life with my oldest two away...,NaN,NaN,NaN,f,https://a0.muscache.com/im/users/7490/profile_...,https://a0.muscache.com/im/users/7490/profile_...,Upper West Side,1.0,5.0,"['email', 'phone']",t,t,"New York, United States",Upper West Side,Manhattan,40.80380,-73.96751,Private room in rental unit,Private room,1,NaN,1 shared bath,1.0,1.0,"[""Hair dryer"", ""Smoke alarm"", ""Carbon monoxide...",$75.00,2,14,2.0,2.0,14.0,14.0,2.0,14.0,NaN,t,0,0,0,0,2022-12-05,118,0,0,2009-09-07,2017-07-21,4.91,4.83,4.82,4.97,4.95,4.94,4.92,NaN,f,1,0,1,0,0.73
2,5136,https://www.airbnb.com/rooms/5136,20221204162430,2022-12-04,city scrape,"Spacious Brooklyn Duplex, Patio + Garden",We welcome you to stay in our lovely 2 br dupl...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,7378,https://www.airbnb.com/users/show/7378,Rebecca,2009-02-03,"New York, NY","Rebecca is an artist/designer, and Henoch is i...",NaN,NaN,50%,f,https://a0.muscache.com/im/users/7378/profile_...,https://a0.muscache.com/im/users/7378/profile_...,Greenwood Heights,1.0,5.0,"['email', 'phone']",t,t,NaN,Sunset Park,Brooklyn,40.66265,-73.99454,Entire rental unit,Entire home/apt,4,NaN,1.5 baths,2.0,2.0,"[""HDTV with Disney+, HBO Max, standard cable, ...",$275.00,21,1125,21.0,21.0,1125.0,1125.0,21.0,1125.0,NaN,t,0,0,0,267,2022-12-04,3,1,0,2014-01-02,2022-08-10,5.00,5.00,5.00,5.00,5.00,4.67,5.00,NaN,f,1,1,0,0,0.03
3,5121,https://www.airbnb.com/rooms/5121,20221204162430,2022-12-05,city scrape,BlissArtsSpace!,One room available for rent in a 2 bedroom apt...,NaN,https://a0.muscache.com/pictures/2090980c-b68e...,7356,https://www.airbnb.com/users/show/7356,Garon,2009-02-03,"New York, NY","I am an artist(painter, filmmaker) and curato...",within a day,90%,82%,t,https://a0.muscache.com/im/pictures/user/72a61...,https://a0.muscache.com/im/pictures/user/72a61...,Bedford-Stuyvesant,2.0,2.0,"['email', 'phone']",t,t,NaN,Bedford-Stuyvesant,Brooklyn,40.68535,-73.95512,Private room in rental unit,Private room,2,NaN,NaN,1.0,1.0,"[""Heating"", ""Wifi"", ""Long term stays allowed"",...",$60.00,30,730,30.0,30.0,730.0,730.0,30.0,730.0,NaN,t,11,17,47,322,2022-12-05,50,0,0,2009-05-28,2019-12-02,4.52,4.22,4.09,4.91,4.91,4.47,4.52,NaN,f,2,0,2,0,0.30
4,6848,https://www.airbnb.com/rooms/6848,20221204162430,2022-12-05,city scrape,Only 2 stops to Manhattan studio,Comfortable studio apartment with super comfor...,NaN,https://a0.muscache.com/pictures/e4f031a7-f146...,15991,https://www.airbnb.com/users/show/15991,Allen & Irina,2009-05-06,"New York, NY",We love to travel. When we travel we like to s...,within an hour,100%,100%,f,https://a0.muscache.com/im/users/15991/profile...,https://a0.muscache.com/im/users/15991/profile...,Williamsburg,1.0,1.0,"['email', 'phone']",t,t,NaN,Williamsburg,Brooklyn,40.70935,-73.95342,Entire rental unit,Entire home/apt,3,NaN,1 bath,NaN,1.0,"[""Carbon monoxide alarm"", ""Shampoo"", ""Stove"", ...",$68.00,30,730,30.0,30.0,1125.0,1125.0,30.0,1125.0,NaN,t,23,23,35,151,2022-12-05,187,5,0,2009-05-25,2022-11-02,4.57,4.59,4.86,4.84,4.80,4.67,4.56,NaN,f,1,1,0,0,1.13

## Data Cleaning



Ill start by inspecting the nulls.

In [7]:
df.isnull().sum().sort_values(ascending=False)

license                           41532
reviews_per_month                  9393
last_review                        9393
name                                 13
host_name                             5
minimum_nights                        0
number_of_reviews_ltm                 0
availability_365                      0
calculated_host_listings_count        0
number_of_reviews                     0
id                                    0
room_type                             0
longitude                             0
latitude                              0
neighbourhood                         0
neighbourhood_group                   0
host_id                               0
price                                 0
dtype: int64

The licence information is irrelevant to the project and will be dropped.

There are 13 entries under the `name` field that are missing, as well as 9393 entries related to reviews. I will insepct these to see whats missing.

In [8]:
df = df.drop('license', axis=1)

In [9]:
df[df.name.isna()]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
1827,2232600,NaN,11395220,Anna,Manhattan,East Village,40.73192,-73.98819,Entire home/apt,700,60,28,2015-06-08,0.27,1,359,0
2831,4209595,NaN,20700823,Jesse,Manhattan,Greenwich Village,40.73323,-73.99294,Entire home/apt,225,30,1,2015-01-01,0.01,1,0,0
2982,4370230,NaN,22686810,MichaÃ«l,Manhattan,Nolita,40.72100,-73.99536,Entire home/apt,215,30,5,2016-01-02,0.05,1,0,0
3099,4581788,NaN,21600904,Lucie,Brooklyn,Williamsburg,40.71370,-73.94378,Private room,150,30,0,NaN,NaN,1,0,0
3296,4774658,NaN,24625694,Josh,Manhattan,Washington Heights,40.85111,-73.93009,Private room,40,30,0,NaN,NaN,1,0,0
4395,6782407,NaN,31147528,Huei-Yin,Brooklyn,Williamsburg,40.71354,-73.93882,Private room,45,30,0,NaN,NaN,1,0,0
5916,9325951,NaN,33377685,Jonathan,Manhattan,Hell's Kitchen,40.76617,-73.98435,Entire home/apt,190,30,1,2016-01-05,0.01,1,0,0
6343,9787590,NaN,50448556,Miguel,Manhattan,Harlem,40.80551,-73.95069,Entire home/apt,300,30,0,NaN,NaN,5,0,0
6675,10116081,NaN,51913270,Andrew,Manhattan,Midtown,40.75939,-73.96949,Entire home/apt,200,30,0,NaN,NaN,1,0,0
6711,10052289,NaN,49522403,Vanessa,Brooklyn,Brownsville,40.66409,-73.92314,Private room,80,30,3,2016-08-18,0.04,1,0,0
7816,12988898,NaN,71552588,Andrea,Bronx,Fordham,40.86046,-73.88378,Shared room,130,30,0,NaN,NaN,1,0,0
7839,12797684,NaN,69715276,Yan,Manhattan,Upper West Side,40.79843,-73.96404,Private room,100,30,0,NaN,NaN,2,0,0
11742,21044649,NaN,151547086,Tanya,Bronx,Norwood,40.87553,-73.88601,Private room,10,3,24,2021-03-25,0.38,1,0,0

There doesn't appear to be any visual correlation between these listings in terms of location or host. Most of them have no reviews, and without a description highlighting amenities, we wont be able to include them in the comparisons. For now, I will name them 'Unnamed Listing' and we'll decide if any value can be extracted during the EDA step.

In [10]:
df.name.fillna('Unnamed Listing', inplace=True)

In [11]:
df.price.describe()

count    41533.000000
mean       221.978282
std        919.502236
min          0.000000
25%         80.000000
50%        131.000000
75%        220.000000
max      98159.000000
Name: price, dtype: float64

In [12]:
# The minimum value indicates there are listings for $0. 
df[df.price == 0]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
20487,40560656,"The Hoxton, Williamsburg - Cosy Room",273324213,The Hoxton Williamsburg,Brooklyn,Williamsburg,40.720960,-73.958600,Hotel room,0,1,75,2022-11-17,1.93,1,0,15
21001,41792753,Mint House At 70 Pine,197053492,Mint House At 70 Pine,Manhattan,Financial District,40.706510,-74.007770,Hotel room,0,1,0,NaN,NaN,1,0,0
21010,41740615,The James New York - NoMad,268417148,The James NoMad,Manhattan,Midtown,40.744590,-73.985740,Hotel room,0,1,48,2022-10-10,1.27,1,0,12
21011,41740622,Gardens Suites Hotel by Affinia,269311462,Gardens Suites Hotel By Affinia,Manhattan,Upper East Side,40.764420,-73.963030,Hotel room,0,1,5,2022-10-01,0.17,1,0,2
21148,42065543,Broadway Plaza Hotel,307634016,Broadway Plaza,Manhattan,Midtown,40.744440,-73.989200,Hotel room,0,1,329,2022-11-04,12.90,1,0,56
21152,42065545,Carvi Hotel NYC,310429455,Carvi Hotel,Manhattan,Midtown,40.759170,-73.969260,Hotel room,0,30,0,NaN,NaN,1,0,0
21154,42065547,Hotel Five44,308721299,Hotel Five44,Manhattan,Hell's Kitchen,40.764040,-73.994780,Hotel room,0,30,0,NaN,NaN,1,0,0
21155,42065555,Pod Hotel BK,309714886,Pod Hotel,Brooklyn,Williamsburg,40.715230,-73.959080,Hotel room,0,1,1,2020-03-18,0.03,1,0,0
21162,42065562,Artezen Hotel,307633956,Artezen Hotel,Manhattan,Financial District,40.709580,-74.008740,Hotel room,0,1,0,NaN,NaN,1,0,0
21167,42065563,Opera House Hotel,309772430,Opera House Hotel,Bronx,Mott Haven,40.815130,-73.916020,Hotel room,0,30,0,NaN,NaN,1,0,0
21168,42065564,The Wall Street Inn,314151200,The Wall Street Inn,Manhattan,Financial District,40.704620,-74.010270,Hotel room,0,1,44,2022-11-29,1.52,9,0,21
21224,42228997,Sister City New York,314197504,Sister City,Manhattan,Lower East Side,40.721860,-73.992780,Hotel room,0,30,0,NaN,NaN,1,0,0
21278,42279171,Leon Hotel LES,265458818,Leon Hotel LES,Manhattan,Chinatown,40.716100,-73.995180,Hotel room,0,1,0,NaN,NaN,1,0,0
21335,42384501,Hotel Hayden,262458398,Hotel Hayden,Manhattan,Chelsea,40.747930,-73.991170,Hotel room,0,1,83,2022-04-17,2.15,1,0,10
21678,43035720,Executive Hotel LeSoleil New York,318559292,Executive LeSoleil,Manhattan,Midtown,40.750280,-73.985470,Hotel room,0,30,0,NaN,NaN,1,0,0
21787,43078550,The Lex Hotel NYC,334334264,Lex Hotel,Manhattan,Kips Bay,40.740970,-73.983390,Hotel room,0,30,0,NaN,NaN,1,0,0
21788,43078552,SIXTY LES,342053968,Sixty Les,Manhattan,Lower East Side,40.722140,-73.988570,Hotel room,0,1,0,NaN,NaN,1,0,0
21900,43205598,Wellington Hotel,335389657,Wellington Hotel,Manhattan,Midtown,40.764480,-73.980550,Hotel room,0,1,9,2020-12-27,0.34,1,0,0
22006,43247386,6 Columbus Central Park Hotel,335072254,Six Columbus Central Park Hotel,Manhattan,Hell's Kitchen,40.767560,-73.983120,Hotel room,0,1,20,2022-08-29,1.09,1,0,8
22010,43247472,Hotel 57,324955773,Hotel 57,Manhattan,Midtown,40.760850,-73.969380,Hotel room,0,30,0,NaN,NaN,1,0,0
22014,43247631,Belvedere Hotel,318788301,Beth,Manhattan,Hell's Kitchen,40.761750,-73.988200,Hotel room,0,30,0,NaN,NaN,1,0,0
22536,44567521,"The Standard, East Village",360662584,The Standard,Manhattan,East Village,40.727430,-73.991360,Hotel room,0,1,8,2021-09-03,0.34,1,0,0
23282,46059074,CITIZENM NEW YORK TIMES SQUARE HOTEL,373324108,CitizenM,Manhattan,Theater District,40.762368,-73.985676,Hotel room,0,1,155,2022-11-13,6.50,1,0,80
23356,46087899,The William Vale,373522899,The William Vale,Brooklyn,Williamsburg,40.721210,-73.957209,Hotel room,0,1,5,2022-06-13,0.35,1,0,3
23465,46336133,Equinox Hotel New York,375044940,Equinox Hotel,Manhattan,Chelsea,40.755322,-74.001772,Hotel room,0,1,0,NaN,NaN,1,0,0
23466,46251446,citizenM New York Bowery hotel,374516933,CitizenM,Manhattan,Lower East Side,40.719732,-73.993996,Hotel room,0,1,178,2022-11-04,7.84,1,0,83
23742,46723973,Ink 48 Hotel,376877842,Ink48 Hotel,Manhattan,Hell's Kitchen,40.765708,-73.995575,Hotel room,0,1,1,2021-06-13,0.06,1,0,0
24518,48089897,Condor Hotel,261016212,The Condor Hotel,Brooklyn,Bedford-Stuyvesant,40.696787,-73.958005,Hotel room,0,1,0,NaN,NaN,1,0,0
24785,48417136,HGU New York,390810530,Marcos,Manhattan,Midtown,40.746836,-73.982699,Hotel room,0,1,53,2022-09-19,2.76,1,0,40
24795,48325676,Hotel Beacon,390077597,Beacon Hotel,Manhattan,Upper West Side,40.781629,-73.982004,Hotel room,0,1,3,2022-06-05,0.20,1,0,2

It looks like there are 30 listings with a price of $0. This may be true or it may be an error, but there is no efficient way to check. Additionally, these entries are all listed as Hotel room for the `room_type`. Since the start-up will not be including these in their listing, we may drop them all together. For now, I will drop these entries since they wont help with the price.

In [13]:
df = df[df.price != 0]
df.price.describe()

count    41503.000000
mean       222.138737
std        919.815135
min         10.000000
25%         80.000000
50%        131.000000
75%        220.000000
max      98159.000000
Name: price, dtype: float64

I will replace the null values in the `reviews_per_month` column with 0. As for the `last_review` column, it may be of help later in measuring the activity of listings but it will be dropped for now.

In [14]:
df.reviews_per_month.fillna(0)
df = df.drop('last_review', axis=1)
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365',
       'number_of_reviews_ltm'],
      dtype='object')

`id` and `name` are the only identifiers needed. The `host_name` and `host_id` will be dropped.

In [15]:
df_final = df.drop(['host_name', 'host_id'], axis=1)
print(df_final.columns)

Index(['id', 'name', 'host_id', 'neighbourhood_group', 'neighbourhood',
       'latitude', 'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365',
       'number_of_reviews_ltm'],
      dtype='object')

In [ ]:
df_detailed.columns()

The features I plan to investigate effect on price are: location, property type, and number of rooms.

For location: I'll be using the `neighbourhood` and `neighbourhood_group` as classifiers. The geocode location can be added later for a more in depth analysis or new feature engineering.

The `room_type` entry comprises of the following unique values: 'Entire home/apt', 'Private room', 'Hotel room', 'Shared room'. Hotel room entries will be dropped in a future step.

`accommodates` and `bedrooms` are integers relating to number of guests.
`bathrooms_text` contains string data about the number of baths.
These will also be added in the EDA step.

`amenities` is a json object of self-reported available amenities. This may be used in a future step.

To investigate local market conditions: I will investigate the hosts mentioned `availability_365`. This may be used to calculate occupancy rate in a future step.

Past rental data in this case will include: the `number_of_reviews` and `number_of_reviews_ltm` which is specific to the past 12 months.

The remaining features will be left in during the EDA step to check for other correlations.

In [16]:
listings_final = df_final.merge(df_detailed[['accommodates', 'bedrooms', 'bathrooms_text', 'amenities', 'id','beds']], on='id', how='left')

In [17]:
df_final.shape, listings_final.shape

((41503, 15), (41503, 20))

In [18]:
listings_final.to_csv('./data/listings_wrangled', index=False)