## Data Overview

In [1]:
# importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
#data obtained from http://insideairbnb.com/get-the-data

df = pd.read_csv("./data/listings.csv")
df.shape

/var/folders/vw/rt6m_t4j1xjfvr2jzz4769rw0000gn/T/ipykernel_52921/3515395386.py:3: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./data/listings.csv")

(41533, 18)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41533 entries, 0 to 41532
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              41533 non-null  int64
 1   name                            41520 non-null  object
 2   host_id                         41533 non-null  int64
 3   host_name                       41528 non-null  object
 4   neighbourhood_group             41533 non-null  object
 5   neighbourhood                   41533 non-null  object
 6   latitude                        41533 non-null  float64
 7   longitude                       41533 non-null  float64
 8   room_type                       41533 non-null  object
 9   price                           41533 non-null  int64
 10  minimum_nights                  41533 non-null  int64
 11  number_of_reviews               41533 non-null  int64
 12  last_review                     32140 non-null  object
 13  reviews_per_month               32140 non-null  float64
 14  calculated_host_listings_count  41533 non-null  int64
 15  availability_365                41533 non-null  int64
 16  number_of_reviews_ltm           41533 non-null  int64
 17  license                         1 non-null      object
dtypes: float64(3), int64(8), object(7)
memory usage: 5.7+ MB

In [4]:
df.isnull().sum().sort_values(ascending=False)

license                           41532
reviews_per_month                  9393
last_review                        9393
name                                 13
host_name                             5
minimum_nights                        0
number_of_reviews_ltm                 0
availability_365                      0
calculated_host_listings_count        0
number_of_reviews                     0
id                                    0
room_type                             0
longitude                             0
latitude                              0
neighbourhood                         0
neighbourhood_group                   0
host_id                               0
price                                 0
dtype: int64

In [5]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,21,3,2022-08-10,0.03,1,267,1,NaN
1,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80380,-73.96751,Private room,75,2,118,2017-07-21,0.73,1,0,0,NaN
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,2019-12-02,0.30,2,322,0,NaN
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,68,2,559,2022-11-20,3.38,1,79,50,NaN
4,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,175,30,49,2022-06-21,0.31,3,365,1,NaN

In [6]:
# Generating a df of label descriptions
labels_temp = pd.read_excel("./data/Inside Airbnb Data Dictionary.xlsx")
labels_clean = labels_temp.iloc[6:]
labels_clean.columns = labels_clean.iloc[0]
labels = labels_clean.iloc[1:]
labels.head()

6,Field,Type,Calculated,Description,Reference
7,id,integer,NaN,Airbnb's unique identifier for the listing,NaN
8,listing_url,text,y,NaN,NaN
9,scrape_id,bigint,y,"Inside Airbnb ""Scrape"" this was part of",NaN
10,last_scraped,datetime,y,"UTC. The date and time this listing was ""scrap...",NaN
11,source,text,NaN,"One of ""neighbourhood search"" or ""previous scr...",NaN

In [7]:
# dropping useless features
columns_to_drop = ['Calculated', 'Reference']
labels = labels.drop(labels=columns_to_drop, axis=1)
labels = labels.reset_index(drop=True).rename_axis(None, axis=1)

In [8]:
labels.head()

          Field      Type                                        Description
0            id   integer         Airbnb's unique identifier for the listing
1   listing_url      text                                                NaN
2     scrape_id    bigint            Inside Airbnb "Scrape" this was part of
3  last_scraped  datetime  UTC. The date and time this listing was "scrap...
4        source      text  One of "neighbourhood search" or "previous scr...

In [9]:
# filtering out the columns of interest
features = list(df.columns)
labels.loc[labels['Field'].isin(features)]

,Field,Type,Description
0,id,integer,Airbnb's unique identifier for the listing
5,name,text,Name of the listing
9,host_id,integer,Airbnb's unique identifier for the host/user
11,host_name,text,Name of the host. Usually just the first name(s).
27,neighbourhood,text,NaN
30,latitude,numeric,Uses the World Geodetic System (WGS84) project...
31,longitude,numeric,Uses the World Geodetic System (WGS84) project...
33,room_type,text,[Entire home/apt|Private room|Shared room|Hote...
40,price,currency,daily price in local currency
41,minimum_nights,integer,minimum number of night stay for the listing (...
54,availability_365,integer,avaliability_x. The availability of the listin...
56,number_of_reviews,integer,The number of reviews the listing has
57,number_of_reviews_ltm,integer,The number of reviews the listing has (in the ...
60,last_review,date,The date of the last/newest review
68,license,text,The licence/permit/registration number
70,calculated_host_listings_count,integer,The number of listings the host has in the cur...
74,reviews_per_month,numeric,The number of reviews the listing has over the...

The licence information is missing and has no effect on the project so it can be dropped.
Lan/Log data can be dropped for now - will use neighbourhood as a descriptor