## Part 2: SQLite

In [1]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('./sqlite_db_pythonsqlite.db')

# Create a cursor object
cursor = conn.cursor()

query1 = """
        SELECT *
        FROM FACILITIES
        """

# Execute a query and fetch the results
cursor.execute(query1)
rows = cursor.fetchall()

# Print the results
for row in rows:
    print(row)

# Close the cursor and the connection
cursor.close()
conn.close()

(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [2]:
# Creating a function get_query

def get_query(query):
    conn = sqlite3.connect('./sqlite_db_pythonsqlite.db')
    cursor = conn.cursor()
    cursor.execute(query)
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    cursor.close()
    conn.close()

# Testing:
get_query(query1)

(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

## QUESTIONS:

/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

In [3]:
query = '''
SELECT Facilities.name AS facility_name,
       SUM(CASE WHEN Bookings.memid = 0 THEN Bookings.slots * Facilities.guestcost
                ELSE Bookings.slots * Facilities.membercost END) AS total_revenue
FROM Bookings
INNER JOIN Facilities ON Bookings.facid = Facilities.facid
GROUP BY Facilities.name
HAVING total_revenue < 1000
ORDER BY total_revenue;
'''

get_query(query)

('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

In [7]:
query = '''
SELECT m1.surname || ', ' || m1.firstname AS member_name,
       m2.surname || ', ' || m2.firstname AS recommender_name
FROM Members m1
INNER JOIN Members m2 ON m1.recommendedby = m2.memid
WHERE m1.memid > 0
ORDER BY m1.surname, m1.firstname;
'''
get_query(query)

('Joplette, Janice', 'Smith, Darren')
('Butters, Gerald', 'Smith, Darren')
('Dare, Nancy', 'Joplette, Janice')
('Boothe, Tim', 'Rownam, Tim')
('Stibbons, Ponder', 'Tracy, Burton')
('Owen, Charles', 'Smith, Darren')
('Jones, David', 'Joplette, Janice')
('Baker, Anne', 'Stibbons, Ponder')
('Smith, Jack', 'Smith, Darren')
('Bader, Florence', 'Stibbons, Ponder')
('Baker, Timothy', 'Farrell, Jemima')
('Pinker, David', 'Farrell, Jemima')
('Genting, Matthew', 'Butters, Gerald')
('Mackenzie, Anna', 'Smith, Darren')
('Coplin, Joan', 'Baker, Timothy')
('Sarwin, Ramnaresh', 'Bader, Florence')
('Jones, Douglas', 'Jones, David')
('Rumney, Henrietta', 'Genting, Matthew')
('Worthington-Smyth, Henry', 'Smith, Tracy')
('Purview, Millicent', 'Smith, Tracy')
('Hunt, John', 'Purview, Millicent')
('Crumpet, Erica', 'Smith, Tracy')

/* Q12: Find the facilities with their usage by member, but not guests */

In [5]:
query = '''
SELECT f.name AS facility_name, 
       COUNT(b.facid) AS usage_by_member 
FROM Bookings b 
INNER JOIN Facilities f ON b.facid = f.facid 
WHERE b.memid != 0 
GROUP BY f.name;
'''
get_query(query)

('Badminton Court', 344)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Pool Table', 783)
('Snooker Table', 421)
('Squash Court', 195)
('Table Tennis', 385)
('Tennis Court 1', 308)
('Tennis Court 2', 276)

/* Q13: Find the facilities usage by month, but not guests */

In [6]:
query = '''
SELECT f.name AS facility_name, 
       strftime('%m', b.starttime) AS month, 
       COUNT(b.facid) AS usage_by_member 
FROM Bookings b 
INNER JOIN Facilities f ON b.facid = f.facid 
WHERE b.memid != 0 
GROUP BY f.name, month;
'''

get_query(query)

('Badminton Court', '07', 51)
('Badminton Court', '08', 132)
('Badminton Court', '09', 161)
('Massage Room 1', '07', 77)
('Massage Room 1', '08', 153)
('Massage Room 1', '09', 191)
('Massage Room 2', '07', 4)
('Massage Room 2', '08', 9)
('Massage Room 2', '09', 14)
('Pool Table', '07', 103)
('Pool Table', '08', 272)
('Pool Table', '09', 408)
('Snooker Table', '07', 68)
('Snooker Table', '08', 154)
('Snooker Table', '09', 199)
('Squash Court', '07', 23)
('Squash Court', '08', 85)
('Squash Court', '09', 87)
('Table Tennis', '07', 48)
('Table Tennis', '08', 143)
('Table Tennis', '09', 194)
('Tennis Court 1', '07', 65)
('Tennis Court 1', '08', 111)
('Tennis Court 1', '09', 132)
('Tennis Court 2', '07', 41)
('Tennis Court 2', '08', 109)
('Tennis Court 2', '09', 126)